<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/welcome.css">
    <title>Welcome to My App</title>
</head>

<body>
    <header>
        <h1>Welcome to My App!</h1>
        <nav>
            <a href="/decks/new">START BY CREATING YOUR DECK DUDE</a>
            <a href="/cards">View All Cards</a> | 
            <a href="/cards/new">Add New Card</a> | 
        </nav>
    </header>

    <main>
        <section>
            <h2>Get Ready To Yu-Gi-OHHHHHH!!!!</h2>
            <p>This application allows you to manage your cards easily. You can create, view, edit, and delete cards as you wish sucka!</p>
            <p>Click the, "Add New Card" link to start making cards for your deck!!</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My App. All rights reserved.</p>
    </footer>
</body>
</html>
