<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Page</title>
</head>
<body>
    <h1>Card Page</h1>
    <h2>Name: <%=card.name %></h2>

    <% if (game.ReadyForBattle) { %>
    <p>This card is playable!</p>
    <% } else { %>
    <p>This card is not ready playable at this time!</p>
    <% } %>

    <form method="POST" action=“/cards/<%= card._id%>?_method=DELETE">
        <button type="submit">Delete Card</button>
    </form>

    <section>
      <a href=“/cards/<%= card._id%>/edit">Edit Card</a>
    </section>
  </body>
</html>


</body>
</html>
