<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Deck</title>
    <link rel="stylesheet" href="/styles/deck.css"
</head>
<body>
    <h1>Create a New Deck</h1>
    <form action="/decks/new" method="POST">
        <div>
            <label for="name">Deck Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="deckType">Deck Type:</label>
            <input type="text" id="deckType" name="deckType" required>
        </div>
        <button type="submit">Create Deck</button>
    </form>
    <a href="/decks">See your Decks</a>
    <a href="/cards/home">Back to Homepage</a>
    <a href="/cards/new">Add a Card to your Deck</a>
</body>
</html>
