html, body {
    height: 100%; 
    margin: 0;
}

body {
    display: flex; 
    flex-direction: column; 
    font-family: Arial, sans-serif;
    background-color: #952e2e; 
    color: #080808; 
}

body:hover {
    background-color: #000000; 
    color: #683939; 
}


header {
    background-color: #000000; 
    color: rgb(142, 2, 2); 
    padding: 20px; 
    text-align: center; 
}

nav a {
    color: white; 
    margin: 0 15px; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
    color: #9b0606;
}

main {
    padding: 20px; 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

footer {
    background-color: #090b0b; 
    color: rgb(208, 11, 11); 
    text-align: center; 
    padding: 10px;
    position: relative; 
}
